html{
    box-sizing: border-box;
}

nav a {
    padding: 1rem;
    margin-left: 31rem;
    text-decoration: black;
    font-size: 2rem;
}

nav a img{
    height: 1
}

nav ul{
    list-style-type: none;
    position: absolute;
    top: 3rem;
    left: 2rem;
}

nav li{
    display: inline;
    margin-right: 1.5rem;
}

.home img{
    
    width: 100%;
}

nav b{
    margin-left: 6rem;
}


nav c{
    margin-left: 10rem;
}

.home{
    position: relative;
    text-align: center;
    color: white
}

.top-left{
    position: absolute;
    top: 120px;
    left: 100px;
    width: 15%;
    font-size: 2rem;
}

.bottom-right{
    position: absolute;
    top: 370px;
    right: 100px;
    width: 15%;
    font-size: 2rem;
}

h1{
    text-decoration: underline;
}

.About-Us{
    float: left;
    width: 50%;
}


.h2:after{
    content: "";
    display: table;
    clear:both
}

.column{
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: flex;
    clear: both;
    
}

.column img{
    height: 100px;
    width: 100px;
}
